/* Your code here */
@import url("squares.css");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  height:100px;
}

h1 {
  margin-bottom: 50px;
}

.hidden {
  display: none;
}

#board-container {
  margin: 0;
  padding: 0;
}

#board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0;
  margin-bottom: 50px;
}
